/*Entire website*/

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #123521;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  text-align: center;  
  background-image: url('images/African\ Lion.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1000px;
}

/*Navbar*/
.navbar {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  padding: 10px 20px;
  height: 60px;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  font-family: "Rock Salt", cursive;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-size: 32px;
  transition: color 0.3s ease;
  font-family: 'Caveat', cursive;
}

.nav-links li a:hover {
  color: #ff6347; /* Tomato color on hover */
}

/*Hero Section*/
.hero {
  text-align: center;
  padding: 100px 20px;
  color: #fff;
}

.overlay {
  position: absolute;
  top: 250px;
  left: 0;
  width: 100%;
  height: 380px;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-family: 'Rock Salt', cursive;
}

.hero h2 {
  font-size: 64px;
  margin-bottom: 20px;
  font-family: 'Oxanium', cursive;
}

.hero p {
  font-size: 32px;
  margin-bottom: 20px;
  font-family: 'Oxanium', cursive;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(246, 205, 43, 0.5);
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  font-size: 32px;
  transition: background-color 0.3s ease;
  font-family: "Caveat", cursive;
}

.cta-button:hover {
  background-color: #e5e23d;
}

.cta-button:active {
  background-color: #d42e2b;
}

/*About*/
.about {
  padding: 50px 20px;
  text-align: center;
  background-color: #d6a12f;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.about-content h2 {
  font-size: 48px;
  margin-top: -150px;
  margin-bottom: 75px;
  font-family: 'Rock Salt', cursive;
}

.about-text {
  padding-right: 20px;
}
.about-content p {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Oxanium', cursive;
  line-height: 40px;
}

.about-logo {
  width: 578px;
  height: 578px;
  margin-right: 20px;
}

/*Products Section*/
.products {
  padding: 50px 20px;
  text-align: center;
  background-color: #123521;
  display: flex;
  flex-direction: column;
}

.products h2 {
  font-size: 48px;
  margin-bottom: 20px;
  font-family: 'Rock Salt', cursive;
  color: #d6a12f;
}

.products p {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: 'Oxanium', cursive;
  color: #d6a12f;
} 

.products .product-list-title {
  text-align: left;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #d6a12f;
  height: 500px;
  border-radius: 10px;
}

.product-item {
  background-color: #123521;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  height: 400px;
  text-align: center;
}

.product-item img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.product-item h3 {
  font-size: 24px;
  margin-top: 10px;
  font-family: 'Oxanium', cursive;
  color: #d6a12f;
}

/*FAQ Section*/
.faq {
  margin: 40px auto;
  padding: 20px;
  font-family: "Oxanium", cursive;
  background-color: #d6a12f;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.faq-title h2 {
  text-align: center;
  color: #222;
  margin-bottom: 30px;
  font-family: 'Rock Salt', cursive;
  font-size: 48px;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.faq-question {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  }

.faq-question::after {
  content: "+";
  position: absolute;
  right: 0;
  font-size: 1.2rem;
  transition: transform 0.3s;
}

.faq-item.active .faq-question::after {
  content: "-";
  transform: rotate(180deg);
}

.faq-answer {
  display: none;
  margin-top: 10px;
  font-size: 20px;
  line-height: 1.6;
}

.faq-item.active .faq-answer {
  display: block;
}

/*Meet the Team Section*/
.meet-the-team {
  padding: 50px 20px;
  text-align: center;
  background-color: #d6a12f;
  margin-bottom: 30px;
}

.meet-the-team h2 {
  font-size: 48px;
  margin-bottom: 30px;
  font-family: 'Rock Salt', cursive;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.team-member {
  background-color: #123521;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  color: #d6a12f;
}

.team-member h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Oxanium', cursive;
}

.team-member p {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Oxanium', cursive;
}

.team-member img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/*Contacts Section*/
.contact {
  padding: 50px 20px;
  text-align: center;
  background-color: #123521;
}

.contact h2 {
  font-size: 48px;
  margin-bottom: 20px;
  font-family: 'Rock Salt', cursive;
  color: #d6a12f;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #d6a12f;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}