/*Entire website*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  text-align: center;  
  background-image: url('images/African\ Lion.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1000px;
}

/*Navbar*/
.navbar {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  padding: 10px 20px;
  height: 60px;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  font-family: "Rock Salt", cursive;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-size: 32px;
  transition: color 0.3s ease;
  font-family: 'Caveat', cursive;
}

.nav-links li a:hover {
  color: #ff6347; /* Tomato color on hover */
}
